body {
  display: flex;
  margin: 0;
}

aside {
  height: 100vh;
  width:  50vh;
  background-image: url(assets/Forge_by_Jonny_Gios.jpeg);
  background-position: center center;
}

main {
  width: 100%;
  display: flex;
}

main > div {
  margin-top: 25vh;
}

.italic {
  font-style: italic;  
}
